<div id="<%= dom_id listing %>">
  <p>
    <strong>Type:</strong>
    <%= listing.type %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= listing.title %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= listing.image %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= listing.price %>
  </p>

  <p>
    <strong>Sqft:</strong>
    <%= listing.sqft %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= listing.description %>
  </p>

</div>
